.sign-in-text{
    font-size: 24px;
    color: blueviolet;
}

.Conact-section-reg{
height: 500px;
}

.Conact-section-content-img img{
    width: 600px;
}
.Conact-section-content{
    justify-content: center;
}