/* @media (max-width: 4200px) {
  .pacets-section{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 40px;
}
.pacet-1, .pacet-4 {
    justify-self: start;  
    align-self: center;
}
.pacet-3, .pacet-6 {
    justify-self: end;  
    align-self: center;
}
.pacet-2, .pacet-5 {
    justify-self: center;  
    align-self: center;
}
} */
 /* BRAACK_POINT ___________________________________________________________________2500_________________________ */
@media (max-width: 2500px) {
  .pacets-section{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    gap: 40px;
}
.pacet-1, .pacet-3, .pacet-5 {
    justify-self: start;  
    align-self: center;
}
.pacet-2, .pacet-4, .pacet-6  {
    justify-self: end;  
    align-self: center;
}

} /* BRAACK_POINT ___________________________________________________________________1370_________________________ */

@media (max-width: 1370px){
  .pacet{
    width: 100%;
    min-width: 500px;
    max-width: 800px;
    height: 200px;

}
.pacet__content__left-title span{
    font-size: 30px;
    border-radius: 7px;
    background-color: var(--main-green);
    background-color: #F3F3F3;
}

}
/* BRAACK_POINT ___________________________________________________________________2100_________________________ */
@media (max-width: 2100px) {
.section__content-box-down p{

font-size: 20px;
}

.section__content-box-up{
  font-size: 25px;

}

}


/* BRAACK_POINT ___________________________________________________________________1400_________________________ */
@media (max-width: 1400px) {
  .top-right ul{
    gap: 2vw;
}
.top-right{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.main-header{
    gap: 2vw;
}
.main-header__content h1{
    font-size: 47px;
}
.button{
width: 190px;
height: 60px;

}
.main-header__image-visible img{
width: 500px;}

.section__content-box-down p{

font-size: 15px;
}

.section__content-box-up{
  font-size: 18px;

}
}

/* BRAACK_POINT ___________________________________________________________________1120_________________________ */
@media (max-width: 1120px) {
.under-header {
  justify-content: center; 
}
.top-right ul{
  gap: 1vw;
  
}
.top-right ul li a{
  font-size:15px;

}
.button p {
  font-size: 15px;
}
.button{
width: 190px;
height: 50px;
}
.top-right__hiden-item{
  display: block;
}
.main-header__content p{
  margin:  35px 0;
  font-size: 15px;
  font-family: 'Space-Grotesk-Regular';
  
}
.pacets-section{
  display: grid;
  grid-template-columns: repeat(1,6fr);
  gap: 40px;
  justify-self: center;  
}
.pacet{
  
  min-width: 90vw;
  
  height: 220px;

}
.under-header {
display: grid;
grid-template-columns: repeat(3,2fr);
}
.under-header-intem_3, .under-header-intem_6{
justify-self: end;  
}
.under-header-intem_2, .under-header-intem_5{
justify-self: center;  
}
.CTA-section-wrapper{
gap: 1vw;
    
}
.CTA-section__left-content{
    width: 360px;
}
.CTA-right img{
  width: 270px;
}
.CTA-section__left-button span {
    font-size: 15px;
}

.Team_section-max_width{
    max-width: 1920px;
    display: grid;
    grid-template-columns: repeat(2,3fr);
    gap: 40px;
}

.header__social_icon-hidden{
    display: flex;
    gap: 2vw;
}
.header__social_icon{
    display: none;
}

.footer-section-content__header{
flex-direction: column;
}

.footer-section-content__header ul{
  margin-top: 30px;
    gap: 6vw;
}
.footer-section-content__main{
flex-direction: column;
    
}
.contact_us{
align-items: center;
text-align: center;
}
.burger.active{
  
}

}




/* BRAACK_POINT ___________________________________________________________________950_________________________ */
@media (max-width: 950px) {
  .burger{
  display: flex;
}
.top-right{
  gap: 1vw;

}
.main-header__image-hidden{
    display: block; 
}
.main-header__image-visible{
    display: none;
}
.main-header__content{
  text-align: center;
}
.main-header__content-button{
  margin: auto;
}
.button{
  display: none;
}
.top-right ul{
  
  position: fixed;
  top: 40px;
  right: 0;
  height: auto;
  width: 400px;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  transform: translateX(100%);
  border-radius: 0 0 0 20px;
  transition: transform 0.3s ease-in-out;
}
.top-right.active ul{
  transform: translateX(0);
}
.close-menu.close ul{
  transform: translateX(0);
}
.top-right.active ul li {
  padding: 30px;
  
}
.top-right.active ul li a {
font-size: 26px;
color: aliceblue;
padding: 30px;
opacity: .7;
}

.button-hidden{
color: aliceblue;
}
.section__content{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  /* padding:  3% 0; */
}
.box-2,.box-1{
  padding: 0 12%;
  border-right: none ;
  border-bottom: 1px solid white;
}
.section__content-box-down,.section__content {

  padding: 0;
}

.section__content-box{
  padding: 20px 4%;
}
.Team_section__left-button{
  width: 40%;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    margin: 10px;
}
.swiper-pagination-bullet-active{
    background-color: #7aff54;
    box-shadow: 0px 3px 0px 0px rgb(0, 0, 0);
    width: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
display: none;
}
.swiper-element{

    gap: 40vw;
}
.swiper-slide{
  width: 100%;
}
.swiper-button-next,.swiper-button-prev{
width: 30px;
background-color: rgb(129, 214, 49);
}
.swiper-element{
  height: 90px;
}
.swiper-button-next, .swiper-button-prev {
    width: 25%;
    background-color: rgb(129, 214, 49);
    height: 100%;
    border-radius: 20px;
  
}
.swiper-conainer{
  padding: 0 15px;
}
.Conact-section-content-img{
  display: none;
}
.Conact-section-content-form{
  width: 90%;

}
.block_wrapper{
  padding: 0 20px;
}
.block__viseble{
  padding: 20px 0;
}
.block__viseble-name{
  font-size: 20px;
}
.block__viseble-number{
  font-size: 40px;
}
.block__viseble-name{

    width: 150px;
}

.close-menu{
position: absolute;
 display: block; 
 top: 20px;
 right: 20px;
}
.burger{
  display: flex;
}

.burger.active{
  display: flex;
} 



}
/* BRAACK_POINT ___________________________________________________________________700_________________________ */
@media (max-width: 700px) {
  .main-header__image-img{
    width: 400px;
  }
  .main-header__content h1{
    font-size: 37px;
  }
.main-header__content .main-header__content-paragraph{
  
  margin-top: 0;
}
.pacet {
  height: 350px;
}
.preview-section{
flex-direction: column;
}
.preview-section > p{
text-align: center;
}
.CTA-right img{
display: none;
}
.CTA-section__left{
  justify-content: center;
  text-align: center;
  width: 100%;}

.CTA-section__left-content{
width: 100%;
}
.CTA-section__left-button{
    width: 100%;

}
.Case-studies-section{

    border-radius: 30px;

}
.Team_section-max_width{
    max-width: 1920px;
    display: grid;
    grid-template-columns: repeat(1,6fr);
    gap: 30px;
}
.card_5,.card_6{
  display: none;
}
.Team_section__left-button{

    align-self: center 
}
.Team_section__left-button{
  width: 100%;
}
.footer-section-content__header ul{
flex-direction: column;
}
.footer-section-content__header ul li a{
padding: 20px;
color: #F3F3F3;
}
.footer-section-content__header ul li{
  text-align: center;
}
.contact_us_tittle {
    padding: 4px;

    max-width: 150px;
    font-size: 25px;
}
.sub_news{
flex-direction: column;
}
.input_style_footer{
  width: 80%;
}
.sub_news_btn{

  width: 80%;

}
.footer-section-content__under{
  flex-direction: column;
 
  justify-content: center;
  align-items: center;

}
.header__social_icon-hidden{
  margin:20px ;
  gap: 8vw;
}
.footer-section-content__header ul li a{
font-size: 30px;

}
.preview-Working_Process .preview-section__green-block{
  white-space: wrap;
}











}





/* BRAACK_POINT ___________________________________________________________________500_________________________ */
@media (max-width: 500px) {
    .main-header__image-img{
    width: 300px;
  }
  .main-header__content h1{
    font-size: 30px;
  }
.under-header {
display: grid;
grid-template-columns: repeat(2,3fr);
}
.under-header-intem_1, .under-header-intem_3, .under-header-intem_5{
  justify-self: start;  
}
.under-header-intem_2, .under-header-intem_4, .under-header-intem_6{
  justify-self: end;  
}
.right-image-hiden{
    display: block;
    width: 210px;
    height: 170px;
}
.pacet__content__right{
  display: none;
}
.pacet__content{
justify-content: center;  
}
.pacet__content__left-title{

width: 100%;
}
.Testimonials_container{
  gap: 0;
}
.content-item_text-block{
padding:10px 5px;
}
.content-item_text-block p{
  margin: 0;
}
.swiper-element{

    gap: 20vw;
}
.block_wrapper{
  padding: 0 10px;
}
/* .block__viseble-number{
  display: none;
} */
.CTA-section__left-button{
  width: 80%;
  margin: auto;
}
.preview-section__green-block-text{
  
}




}



